* { box-sizing: border-box; }
body {
  width: 100%;
  background-color: #000;
  color: #ffffff;
  margin: 0;
  font: 3vw Electrolize, Arial, sans-serif;
}
img {
  width: 100%;
}
.logobug {
  margin: 0;
}
/* Style the navigation menu */
.topnav {
  font-family: Special Elite;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 40px;
 /* overflow: hidden; */
  background-color: #444444;
 /* position: relative; */
}
.bug {
  height: 35px;
}
/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #links {
  display: none;
}
/* Style navigation menu links */
.topnav a {
  color: white;
  text-decoration: none;
  font-size: 3vw;
/*  padding: 10px 16px 0px 20px;
  text-decoration: none;
  font-size: 17px;
  display: block; */
}
/* Style the hamburger menu */
.topnav a.icon {
  background: #111;
  display: block;
  position: absolute;
  left: 20;
  top: 5px;
}
/* Add a grey background color on mouse-over */
.topnav a:hover {
   background-color: #ddd;
   color: black;
}
/* Style the active link (or home/logo) */
.active {
   background-color: #111;
   color: white;
}
.illustration {
  background: #111;
}
.gallery {
        padding: 2em;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
}
.bulletgrid {
    display: flex;
    flex-wrap: wrap;
  /*  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); */
}
main {
  background: #222222;
  padding-top: 0;
}
.content1 {
      width: 100%;
      background-color: #222222;
      padding: 1em;
 }
 .content2 {
      width: 100%;
      background-color: #111;
      padding: 1em;
  }
footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1em;
    background: #222;
    width: 100%;
    height: 7em;
}
footer div {
    align-self: center;
}

@media screen and (max-width: 51em) {
  .title {
      font: 1.8em Electrolize, Arial, sans-serif;
  }
  .content {
      width: 98%;
      background-color: #666
      valign: top;
      padding-left: 1em;
  }
  article {
      margin-bottom: 1em;
  }
  .container{
      display: grid;
      grid-template-columns: 50% 50%;
      grid-template-rows: 25% 25% 25% 25%;
      background-color: #333333;
  }
  .mhlogo {
      grid-column: 1 / 2;entities
      grid-row: 1 / 2;
      padding: 0px;
  }
  .mhcopy {
      grid-column: 2 / 3;
      grid-row: 1 / 2;
      padding: 0.1em 1em;
      background-color: #000000;
  }
  .blogo {
      grid-column: 1 / 2;
      grid-row: 2 / 3;
      height: 100%;
      background-color: #000000;
  }
  .bcopy {
      grid-column: 2 / 3;
      grid-row: 2 / 3;
      padding: 1em;
      background-color: #000000;
  }
  .anarchlogo {
      grid-column: 1 / 2;
      grid-row: 3 / 4;
      height: 100%;
  }
  .anarchcopy {
      grid-column: 2 / 3;
      grid-row: 3 / 4;
      padding: 1em;
  }
  .mindlogo {
      grid-column: 1 / 2;
      grid-row: 4 / 5;
      height: 100%:
  }
  .mindcopy {
      grid-column: 2 / 3;
      grid-row: 4 / 5;
      padding: 1em;
  }
  .biglinks { display: none; }

  .thumb { width: 100%; }
}

@media screen and (min-width: 52em) {


  main {
     grid-column: 1 / 2;
     grid-row: 1 / 2;
  }

  .content {
    background-color: #000000;
    grid-column: 2 / 3;
    grid-row: 1 / 4;
  }
  .item {
    padding: 0.5em;
    font-size: 1.6em;
    background-color: #333333;
    text-decoration: none;
  }
  a:link,
  a:visited {
    color: #999999;
  }

}

























