* { box-sizing: border-box; }
body {
  width: 98%;
  background-color: #000000;
  color: #ffffff;
  margin: 0;
  font: 1em/1.8 Electrolize, Arial, sans-serif;
}
img {
  width: 100%;
}
.wrapper {
  margin: 2em auto;
  padding: 1em;
  background-color:#000000;
}
/* Style the navigation menu */
.topnav {
  display: block;
  overflow: hidden;
  background-color: #333;
  position: relative;
}
/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #links {
  display: none;
}
/* Style navigation menu links */
.topnav a {
  color: white;
  padding: 1px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}
/* Style the hamburger menu */
.topnav a.icon {
  background: black;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}
/* Add a grey background color on mouse-over */
.topnav a:hover {
   background-color: #ddd;
   color: black;
}
/* Style the active link (or home/logo) */
.active {
   background-color: #111122;
   color: white;
}
.bulletgrid {
    display: flex;
    flex-wrap: wrap;
  /*  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); */
}
.bulletgrid span {
    border: 1px solid #eeeeff;
    border-radius: 10px;
    background-color: #222222;
    padding: 1rem;
    margin: 1rem;
}

@media screen and (max-width: 51em) {
  .title {
      font: 1.8em Electrolize, Arial, sans-serif;
  }
  .content {
      width: 98%;
      background-color: #666
      valign: top;
      padding-left: 1em;
  }
  article {
      margin-bottom: 1em;
  }
  .container{
      display: grid;
      grid-template-columns: 50% 50%;
      grid-template-rows: 25% 25% 25% 25%;
      background-color: #333333;
  }
  .mhlogo {
      grid-column: 1 / 2;entities
      grid-row: 1 / 2;
      padding: 0px;
  }
  .mhcopy {
      grid-column: 2 / 3;
      grid-row: 1 / 2;
      padding: 0.1em 1em;
      background-color: #000000;
  }
  .blogo {
      grid-column: 1 / 2;
      grid-row: 2 / 3;
      height: 100%;
      background-color: #000000;
  }
  .bcopy {
      grid-column: 2 / 3;
      grid-row: 2 / 3;
      padding: 1em;
      background-color: #000000;
  }
  .anarchlogo {
      grid-column: 1 / 2;
      grid-row: 3 / 4;
      height: 100%;
  }
  .anarchcopy {
      grid-column: 2 / 3;
      grid-row: 3 / 4;
      padding: 1em;
  }
  .mindlogo {
      grid-column: 1 / 2;
      grid-row: 4 / 5;
      height: 100%:
  }
  .mindcopy {
      grid-column: 2 / 3;
      grid-row: 4 / 5;
      padding: 1em;
  }
  .biglinks { display: none; }

  .thumb { width: 100%; }
}

@media screen and (min-width: 52em) {

  .wrapper {
    valign: top;
    padding: 0;
    display: grid;
    grid-template-columns: minmax(1fr, 800px) 1fr;
    grid-template-rows: 1fr;
    column-gap: 20px;
  }
  main {
     grid-column: 1 / 2;
     grid-row: 1 / 2;
  }
  .illustration {
  /*  grid-column: 1 / 2;
    grid-row: 2 / 3;*/
    valign-align: top;
  }
  .content {
    background-color: #000000;
    grid-column: 2 / 3;
    grid-row: 1 / 4;
  }
  .item {
    padding: 0.5em;
    font-size: 1.6em;
    background-color: #333333;
    text-decoration: none;
  }
  a:link,
  a:visited {
    color: #999999;
  }

}

























