* { box-sizing: border-box; }
body {
  width: 98%;
  background-color: #000000;
  color: #ffffff;
  margin: 1em;
  font: 1em/1.8 Electrolize, Arial, sans-serif;
}
img { }
.tagline {
    font: 1.3em Electrolize, Arial, sans-serif;
}
.topnav {
  overflow: hidden;
  background-color: #333;
  position: relative;
}
/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #links {
  display: none;
}
/* Style navigation menu links */
.topnav a {
  color: white;
  padding: 1px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}
/* Style the hamburger menu */
.topnav a.icon {
  background: black;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}
@media screen and (max-width: 59em) {
    .title1 { display: none; }
    .title2 { display: none; }
    .title3 { display: none; }
    .gallery {
        display: grid;
        grid-gap: 1em;
        background-color: #333344;
        grid-template-columns: repeat(2, minmax(50px, 50%));

        padding: 1em 1em 0 0;
    }   
}

@media screen and (min-width: 60em) {
  .container {
        display: grid;
        grid-template-columns: [left] 49% [mid] 1% [content] 50%;
   /*    grid-template-rows: min-content 3% minmax(min-content, 300px) 3% minmax(min-content, 300px) 3% minmax(min-content, 300px) 0.1em; */
        grid-template-rows: repeat(auto-fit, minmax(100px, 1fr);
  }
  .left {
        background-color: #ffffff;
        grid-column: 1 / 2;
        grid-row: 1 / 8;
  }
  .mainimg {
      width: 100%;
  }
  .mid {
        background-color: #000000;
        grid-column: 2 / 3;
        grid-row: 1 / 9;
  }
  .content {
        background-color: #ffffff;
        grid-column: 3 / 4;
        grid-row: 1 / 2;
        padding: 10px 50px 0px 20px;
  }
  .title1 {
      grid-column: 3 / 4;
      grid-row: 2 / 3;
      font-family: 'Electrolize';
      padding: 10px;
      font-weight: bold;
      background-color: #333333;
      color: #ffffff;
  }
  .thumbs1 {
      grid-column: 3 / 4;
      grid-row: 3 / 4;
      background-color: #cccccc;
      display: flex;
      justify-content: space-between;
      width: 100%;
      height: 100%;
  }
  .title2 {
      grid-column: 3 / 4;
      grid-row: 4 / 5;
      font-family: 'Electrolize';
      padding: 10px;
      font-weight: bold;
      background-color: #333333;
      color: #ffffff;
  }
  .thumbs2 {
      grid-column: 3 / 4;
      grid-row: 5 / 6;
      background-color: #cccccc;
      display: flex;
      justify-content: space-between;
      padding: 10px;
      width: 100%;
      height: 80%;
  }
  .title3 {
      grid-column: 3 / 4;
      grid-row: 6 / 7;
      font-family: 'Electrolize';
      padding: 10px;
      font-weight: bold;
  }
  .thumbs3 {
      grid-column: 3 / 4;
      grid-row: 7 / 8;
      background-color: #cccccc;
      display: flex;
      justify-content: space-between;
      padding: 10px;
      width: 100%;
      height: 80%;
  }
  .thumb {
   /*   height: 100%;
      max-height: 300px; */
  }
  .footer {
      grid-column: 3 / 4;
      grid-row: 8 / 9;
      background: #ffffff;
  }

  .modal {
      display: none;
      position: fixed;
      z-index: 1;
      padding-top: 50px;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      overflow: auto;
      background-color: rgb(0,0,0);
      background-color: rgba(0,0,0,0.6);
  }
  .modalContent {
      position: relative;
      background-color: #111111;
      margin: auto; /* 15% from the top and centered */
      padding: 20px 0px 20px 100px;
      width: 90%; /* Could be more or less, depending on screen size */
      max-width: 1200px;
  }
/* The Close Button */
  .close {
      position: absolute;
      color: #aaa;
      top: 10px;
      background-color: #000000;
  }

  .close:hover,
  .close:focus {
      color: black;
      text-decoration: none;
      cursor: pointer;
  }
  .cursor {
      cursor: pointer;
  }
}
